.landing__page {
	height: 100vh;
	max-width: 100vw;
	font-family: 'Poppins', sans-serif;
	color: white;
	background: rgb(239, 51, 164);
	background: black;

	.landing__main {
		display: flex;
		height: 100%;
		.left__side {
			flex: 0.4;
			display: flex;
			justify-content: center;
			flex-direction: column;
			h2 {
				text-align: center;
				font-size: 4rem;
			}
			img {
				width: 80%;
				border-radius: 78px;
			}
			h4 {
				text-align: center;
				font-style: italic;
				font-family: 'sans';
			}
			.info {
				font-size: 2rem;
			}
			.explore {
				width: 100%;
				text-align: center;
				margin: 1.3rem 1rem;
				.button {
					background: inherit;
					border: 1px solid #5677;
					width: 200px;
					padding: 1rem;
					font-size: 1.3rem;
					border-radius: 99px;
					transition: all 0.3s ease-in-out;
					&:hover {
						background: rgb(49, 47, 47);
						cursor: pointer;
					}
				}
			}
		}
		.right__side {
			flex: 0.7;
		}
		.landing__info {
			text-align: center;
			width: 100%;
			font-size: 1rem;
		}
	}
	.footer {
		width: 100%;
		margin: 2rem 0;
		text-align: center;
		.footer__input {
			background: red;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			input {
				padding: 0.9rem;
				width: 25rem;
			}
			button {
				margin: 1rem 0;
				padding: 1rem;
				font-family: georgia;
				background: blue;
				color: white;
				font-size: 15px;
			}
		}
	}
}
