.nav {
	display: flex;
	justify-content: space-between !important;
	align-items: center;

	li {
		list-style: none;
		margin: 1rem 1rem;
		color: rgb(37, 150, 211);
		&:hover {
			cursor: pointer;
		}
	}
	.logo {
		img {
			width: 83px;
			border-radius: 97px;
		}
	}
}
